body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(137,118,8,1) 0%, rgba(139,24,83,1) 0%, rgba(138,87,32,1) 0%, rgba(139,68,47,1) 0%, rgba(139,56,57,1) 0%, rgba(139,40,70,1) 0%, rgba(139,8,96,1) 16%, rgba(102,61,137,1) 55%, rgba(78,97,165,1) 74%, rgba(63,119,182,1) 79%, rgba(0,212,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
